span {
    font-weight: bold;
}

span.badge {
  cursor: pointer;
  font-size: 130%
}

.selected {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  -webkit-text-fill-color: crimson;
}